### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [15]:
student = {"name":"Rahi","age":19,"city":"pune"}
student

{'name': 'Rahi', 'age': 19, 'city': 'pune'}

### 2. Create a dictionary and print the value of a specific key.

In [16]:
student = {"name":"Rahi","age":19,"city":"pune"}
student["name"]

'Rahi'

### 3. Create a list of 5 numbers and print the second element.

In [17]:
num = [1,2,3,4,5]
num[1]

2

### 4. Add an element "banana" to an existing list.

In [18]:
num = [1,2,3,4,5]
num.append("banana")
print(num)

[1, 2, 3, 4, 5, 'banana']

### 5. Insert "apple" at index 2 in a list.

In [339]:
num = [1, 2, 3, 4, 5, 'banana']
num[2:2] = ["apple"]
##num.insert(2,"apple")
num

[1, 2, 'apple', 3, 4, 5, 'banana']

### 6. Remove the element 10 from a list.

In [340]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
## num.remove(10)
num.pop(9)
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15]

### 7. Create a tuple with 4 elements and print the last one.

In [341]:
fruits = ("apple","banana","kivi","orange")
print(fruits)
print(fruits[-1])

('apple', 'banana', 'kivi', 'orange')
orange

### 8. Convert a tuple into a list.

In [342]:
tpl = (1,2,3,4,5,6,7,8)
it = list(tpl)
print(it)

[1, 2, 3, 4, 5, 6, 7, 8]

### 9. Find the length of a given tuple.

In [343]:
tpl = (1,2,3,4,5,6,7,8)
print(len(tpl))

8

### 10. Store 5 student names in a list and print them using a loop.

In [344]:
students = ["ram","sham","mohan","mita","monika"]
for student in students :
    print(student)

ram
sham
mohan
mita
monika

### 11. Create two lists and concatenate them.

In [ ]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,76]
# list1.extend(list2)
# print(list1)
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 76]

### 12. Reverse a list without using reverse().

In [426]:
list1 = [1,2,3,4,5]
print(list1[::-1])
# for b in list1[::-1] :
#      print(b)

[5, 4, 3, 2, 1]

### 13. Sort a list in descending order.

In [427]:
numb = [12,34,5,3,23,55,38,66,99,0]
numb.sort(reverse=True)
numb
# sort_dec = sorted(numb)
# sort_dec.reverse()
# print(sort_dec)

[99, 66, 55, 38, 34, 23, 12, 5, 3, 0]

### 14. Create a set with 5 numbers and add a new number.

In [428]:
num = {1,2,3,4,5}
num.add(6)
num

{1, 2, 3, 4, 5, 6}

### 15. Remove an element from a set using discard().

In [429]:
numb = [12,34,5,3,23,55,38,66,99,0]
set_numb = set(numb)
set_numb.discard(34)
set_numb

{0, 3, 5, 12, 23, 38, 55, 66, 99}

### 16. Find the union of two sets.

In [430]:
a = {1,2,3,4,5}
b = {6,7,4,1}
c = a.union(b)
c

{1, 2, 3, 4, 5, 6, 7}

### 17. Find the intersection of two sets.

In [431]:
a = {1,2,3,4,5}
b = {6,7,4,1}
c = a.intersection(b)
c

{1, 4}

### 18. Check if a value exists in a set.

In [432]:
a = {1,2,3,4,5}
print(7 in a)

False

### 19. Create a set and clear all elements.

In [433]:
a = {1,2,3,4,5}
a.clear()
a

set()

### 20. Convert a list with duplicate values into a set.

In [434]:
list_a = [1,1,1,2,44,5,5,7,555,78,87,4,22,3,455,9]
set_a = set(list_a)
set_a

{1, 2, 3, 4, 5, 7, 9, 22, 44, 78, 87, 455, 555}

### 21. Create a dictionary and update the value of a key.

In [469]:
student = {"ram" : 11,"sham": 12,"mahi": 13,"sonali": 14}
# student["mahi"] = 15
student.update({"mahi":15})
student.update([("ram",22)])
print(student)

{'ram': 22, 'sham': 12, 'mahi': 15, 'sonali': 14}

### 22. Delete a key-value pair from a dictionary.

In [470]:
print(student)
student.pop("mahi")
print(student)

{'ram': 22, 'sham': 12, 'mahi': 15, 'sonali': 14}
{'ram': 22, 'sham': 12, 'sonali': 14}

### 23. Print all keys of a dictionary.

In [471]:
print(student)
student.keys()

{'ram': 22, 'sham': 12, 'sonali': 14}

dict_keys(['ram', 'sham', 'sonali'])

### 24. Print all values of a dictionary.

In [472]:
print(student)
student.values()

{'ram': 22, 'sham': 12, 'sonali': 14}

dict_values([22, 12, 14])

### 25. Loop through a dictionary and print key and value.

In [479]:
print(student)
for stu in student.items():
    print(stu)

{'ram': 22, 'sham': 12, 'sonali': 14}
('ram', 22)
('sham', 12)
('sonali', 14)

In [504]:
l1 = {}
print(type(l1))
s1 = frozenset()
print(type(s1))

<class 'dict'>
<class 'frozenset'>

### 26. Create a list of numbers and print only even numbers.

In [505]:
num = [1,2,3,4,5,5,6,7,8]
for num_evn in num:
    if num_evn %2 == 0:
         print(num_evn)

2
4
6
8

### 27. Create a tuple and unpack it into 3 variables.

In [506]:
tp = ("disha",420,"nagpur")
a,b,c=tp
print(a)
print(b)
print(c)

disha
420
nagpur

### 28. Check if a number is greater than 10 using a comparison operator.

In [507]:
n=11
if n >= 10:
    print("number is greater than 10")

number is greater than 10

### 29. Use the in operator to check if "python" exists in a list.

In [508]:
lang = ["c","c++","cpp","java","apex","python"]
"python" in lang

True

### 30. Use the and operator in a condition.

In [510]:
list11 = [1,2,3,4,5]
list12 = [5,6,7,8,9]
for list0 in list11 and list12:
    print(list0)

5
6
7
8
9

### 31. Use the % operator to check if a number is divisible by 5.

In [513]:
num = 125
if num %5 ==0 :
    print("value is divisable by 5")

value is divisable by 5

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [514]:
num = 2
ans = num**5
print(ans)

32

### 33. Create two numbers and compare them using >=.

In [529]:
num1= 33
num2= 29
if num1 >= num2:
    # (f string)
    # print(num1,"is gretter number than",num2)
    print(f' {num1} is greater number than {num2}')
    # print('{} is greater number than {}'.format(num1,num2))
else:
    # print(num2,"is gretter number than",num1)
    print(f'{num1} is smaller than {num2}')
    # print('{} is smaller than {}'.format(num1,num2))

 33 is greater number than 29

### 34. Create a list and remove the last element using pop().

In [532]:
roll = [1,2,3,4,5,6,7,8,9]
print(roll.pop())

9

### 35. Create a list and print its first and last elements.

In [546]:
print(roll)
print(f'{roll[0]} is the 1st element and last elements is  {roll[-1]}')
# print(roll[0],roll[-1])

[1, 2, 3, 4, 5, 6, 7, 8]
1 is the 1st element and last elements is  8

### 36. Count how many times "apple" appears in a list.

In [548]:
print(fruits)
fruits.count("apple")

('apple', 'banana', 'kivi', 'orange')

1

### 37. Create a tuple and check if a value exists using in.

In [551]:
print(tpl)
print(3 in tpl)

(1, 2, 3, 4, 5, 6, 7, 8)
True

### 38. Convert a dictionaryâ€™s keys into a list.

In [555]:
print(student)
student_list = list(student.keys())
print(student_list)
print(type(student_list))

{'ram': 22, 'sham': 12, 'sonali': 14}
['ram', 'sham', 'sonali']
<class 'list'>

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [567]:
student_dic = {1001 : {"name": "Shubham","marks":80,"subjects":"python"},1002 :{"name": "sumit","marks":40,"subjects":"python"},1003 :{"name": "vicky","marks":60,"subjects":"python"}}
# print(student_dic.keys())
# print(student_dic.values())
# print(student_dic.items())
print(student_dic[1001]["subjects"])
print(student_dic[1001])

python
{'name': 'Shubham', 'marks': 80, 'subjects': 'python'}

### 40. Merge two dictionaries into one.

In [575]:
st1_dic= {"name": "Shubham","marks":80,"subjects":"python"}
st2_dic= {"add":"Nagpur"}
st1_dic.update(st2_dic)
# st3_dic= st1_dic | st2_dic
# st3_dic= {**st1_dic,**st2_dic}
# print(st3_dic)
print(st1_dic)

{'name': 'Shubham', 'marks': 80, 'subjects': 'python', 'add': 'Nagpur'}

### 41. Create a set and print the number of elements.

In [580]:
set1 = {1,2,3,4,5}
print(len(set1))

5

### 42. Create a dictionary and print all items using items().

In [1]:
st1_dic= {"name": "Shubham","marks":80,"subjects":"python"}
print(st1_dic.items())

dict_items([('name', 'Shubham'), ('marks', 80), ('subjects', 'python')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [4]:
number = [1,2,3,4,5,6,7,8,9,10]
for num7 in number:
    print(num7*num7)

1
4
9
16
25
36
49
64
81
100

### 44. Multiply two numbers and print the result using *.

In [5]:
n1 = 15
n2 = 16
print(n1*n2)

240

### 45. Divide two numbers and print the results using / and //.

In [6]:
print(5//2)
print(5/2)
import math
print(math.ceil(5/2))

2
2.5
3

### 46. Create a list and replace the element at index 1.

In [7]:
listOfNumber = [11,12,13,14]
listOfNumber[1]= 22
print(listOfNumber)

[11, 22, 13, 14]

### 47. Create a tuple from user input (3 values).

In [3]:
x = input("Enter name")
y = input("Enter Age")
z = input("Enter City")
tple = (x,y,z)
print(tple)

('priya', '28', 'Pune')

### 48. Create a set from a string and print all unique characters.

In [ ]:
nam = "shubham"
str_nam= set(nam)
print(str_nam)

{'u', 's', 'm', 'b', 'a', 'h'}

### 49. Use the is operator to compare two variables.

In [4]:
x = 10
y = 11
print(x is y)

False

### 50. Create a dictionary and check if a key exists using in.

In [7]:
st1_dic= {"name": "Shubham","marks":80,"subjects":"python"}
print("marks" in st1_dic)

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [ ]:
numbra = 17
if numbra >= 10 and numbra < 50 :
    print("number is between 10 & 50 ")

number is between 10 & 50

### 52. Check if a number is less than 5 or greater than 20 using or.

In [ ]:
numbra = 17
if numbra < 5 or numbra > 20 :
    print("True")
else: print("False")

False

### 53. Use not to check if a list is not empty.

In [ ]:
listof = [1,2,3,4]
print(not listof)
## second option
if not listof:
    print("empty list")
else: print("not empty list")

False
not empty list

### 54. Write code to check if a character is a vowel using or.

In [ ]:
letter = "i"
if letter in set("aeiou") :
    print('its vowel')

its vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [11]:
stu = {"Name":"Ravan","age":60}
print("Name" in stu and "age" in stu)
print("Name" and "age" in stu)

True
True

### 56. Verify if a set contains either 10 or 20.

In [21]:
set_no = {10,20,30,40,50}
print(10 in set_no or 20 in set_no)

True

### 57. Use not to check if a number is not equal to 100.

In [22]:
x = 100
print(not(x==100))

False

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [27]:
stud = {"name":"Mahi","marks":75,"attendance":76}
if (stud["marks"]>35) and (stud["attendance"]>75):
    print("student pass")
else: print("student fail")

student pass

### 59. Use logical operators to check if a number is positive and even.

In [29]:
x=12
y=14
print(x>0 and y>20)

False

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [30]:
t= (1,2,3)
if len(t) > 3 or 0 in t:
    print("condition true")
else: print("condition false")

condition false