# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [3]:
num=[1,2,3,4,5]
num.append(6)
print(num)

[1, 2, 3, 4, 5, 6]

2. Make a list of fruits and insert a fruit at the second position.

In [7]:
fruits = ["mango","apple","banana","orange"]
fruits.insert(1,"pineapple")
print(fruits)

['mango', 'pineapple', 'apple', 'banana', 'orange']

3. Create a list of names and remove one name from the list.

In [12]:
name_class =["Ram","Sham","mohan","monika"]
## name_class.remove("Sham")
## print(name_class)
name_class.pop(1)
print(name_class)

['Ram', 'mohan', 'monika']

4. Create a list of 4 items and change the value at index 2.

In [14]:
fruits = ["mango","apple","banana","orange"]
fruits[2] = "grapes"
print(fruits)

['mango', 'apple', 'grapes', 'orange']

5. Make a list of numbers and print only the first three elements.

In [ ]:
num = [1,2,3,4,5,6,7,8,]
print(num[0:3])

[1, 2, 3]

6. Create a list of colors and find the index of a specific color.

In [21]:
colors = ['red','green','blue','pink','orange']
indexn = colors.index('red')
print(indexn)

0

7. Create a list of 10 numbers and print how many times “5” appears.

In [24]:
numbers = [1,2,3,4,5,1,2,3,4,5,3,4,4,4,6,7,8,9]
count = numbers.count(5)
print(count)

2

8. Make a list of 6 items and delete the item at index 3.

In [28]:
store = ["box","cart","bucket","bag","fan","table"]
store.pop(3)
print(store)

['box', 'cart', 'bucket', 'fan', 'table']

9. Create a list of animals and add three more animals using extend().

In [29]:
animals=["cat","dog","lion","mouse"]
animals.extend(["rat","rabit","cow"])
print(animals)

['cat', 'dog', 'lion', 'mouse', 'rat', 'rabit', 'cow']

10. Create a list and remove the last item using pop().

In [31]:
animals=["cat","dog","lion","mouse"]
## animals.pop(-1)
animals.pop()
print(animals)

['cat', 'dog', 'lion']

11. Create a list of prices and sort them in ascending order.

In [32]:
prices=[20,11,234,420,1111,430,10]
prices.sort()
print(prices)

[10, 11, 20, 234, 420, 430, 1111]

12. Make a list of countries and reverse the order of the list.

In [33]:
countries =["India", "China", "Japan", "South Korea", "Nepal", "Sri Lanka", "Thailand", "Indonesia", "Bangladesh", "Pakistan"]
countries.reverse()
print(countries)

['Pakistan', 'Bangladesh', 'Indonesia', 'Thailand', 'Sri Lanka', 'Nepal', 'South Korea', 'Japan', 'China', 'India']

13. Create a list of words and check if “apple” is in the list.

In [38]:
fruits = ["mango","apple","banana","orange"]
## print("apple" in fruits)
print(fruits.count("apple") > 0)

True

14. Create a list of numbers and print the largest and smallest number.

In [39]:
list_numbers = [20,11,234,420,1111,430,10]
print(max(list_numbers),min(list_numbers))

1111 10

15. Make a list of 5 items and print each item using a loop.

In [40]:
fruits = ["mango","apple","banana","orange"]
for fruits_list in fruits: 
    print(fruits_list)

mango
apple
banana
orange

16. Create two lists and combine them into one list.

In [2]:
list1=["India", "China", "Japan", "South Korea", "Nepal"]
list2=["Sri Lanka", "Thailand", "Indonesia", "Bangladesh", "Pakistan"]
combine_list= list1 + list2
## combine_list= list1.extend(list2)
print(combine_list)

['India', 'China', 'Japan', 'South Korea', 'Nepal', 'Sri Lanka', 'Thailand', 'Indonesia', 'Bangladesh', 'Pakistan']

17. Make a list and replace the last item with a new value.

In [3]:
list_numbers = [20,11,234,420,1111,430,10]
list_numbers[-1] = 470
print(list_numbers)

[20, 11, 234, 420, 1111, 430, 470]

18. Create a list of numbers and print only the even numbers.

In [10]:
num= [1,2,3,4,5,6,7,8,10,9] 
for enum in num:
    if enum % 2 == 0:
        print(enum)

2
4
6
8
10

19. Create a list and clear all items from the list.

In [13]:
num= [1,2,3,4,5,6,7,8,10,9]
num.clear()
print(num)

[]

20. Create a list of 5 values and copy it into another list.

In [15]:
num= [1,2,3,4,5,6,7,8,10,9]
num1= num.copy()
print(num1)

[1, 2, 3, 4, 5, 6, 7, 8, 10, 9]