# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
dictn = {"name":"Disha" , "age": 24 , "city":"Nagpur"}
print(dictn)

{'name': 'Disha', 'age': 24, 'city': 'Nagpur'}

2. Create a dictionary and print the value of a specific key.

In [2]:
dictn = {"name":"Disha" , "age": 24 , "city":"Nagpur"}
print(dictn["name"])

Disha

3. Make a dictionary and add a new key-value pair to it.

In [3]:
dictn = {"name":"Disha" , "age": 24 , "city":"Nagpur"}
dictn["colore"] = "Fair"
print(dictn)

{'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}

4. Create a dictionary and change the value of an existing key.

In [4]:
dictn = {"name":"Disha" , "age": 24 , "city":"Nagpur"}
dictn["age"] = 25
print(dictn)

{'name': 'Disha', 'age': 25, 'city': 'Nagpur'}

5. Create a dictionary and remove one key using pop().

In [7]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
student.pop("colore")
print(student)

{'name': 'Disha', 'age': 24, 'city': 'Nagpur'}

6. Create a dictionary and remove the last inserted item using popitem().

In [8]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
student.popitem()
print(student)

{'name': 'Disha', 'age': 24, 'city': 'Nagpur'}

7. Create a dictionary and print all the keys.

In [10]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
print(student.keys())

dict_keys(['name', 'age', 'city', 'colore'])

8. Create a dictionary and print all the values.

In [11]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
print(student.values())

dict_values(['Disha', 24, 'Nagpur', 'Fair'])

9. Create a dictionary and print all the key-value items.

In [21]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
print(student.items())

dict_items([('name', 'Disha'), ('age', 24), ('city', 'Nagpur'), ('colore', 'Fair')])

10. Make a dictionary and check the number of items using len().

In [30]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
print(len(student))

4

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [38]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
print("city" in student)

True

12. Create an empty dictionary and add two key-value pairs one by one.

In [53]:
dcs = {}
dcs["mark1","mark2"] = 45,65
print(dcs)

{('mark1', 'mark2'): (45, 65)}

13. Create a dictionary and update one keyâ€™s value using update().

In [7]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
student.update({"name":"Dishani"})
student

{'name': 'Dishani', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}

14. Create two dictionaries and combine them using update().

In [37]:
student = {"name": "Amit","age": 20,"city": "Pune"}
course = {"subject": "Python","duration": "3 months","fee": 60000}
student.update(course)
print(student)

{'name': 'Amit', 'age': 20, 'city': 'Pune', 'subject': 'Python', 'duration': '3 months', 'fee': 60000}

15. Make a dictionary and get the value of a key using get().

In [ ]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
print(student.get("name"))

Disha

16. Create a dictionary and print its type using type().

In [49]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
print(type(student))

<class 'dict'>

17. Create a dictionary and replace one value with a new one.

In [60]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
student["age"]=21
print(student)

{'name': 'Disha', 'age': 21, 'city': 'Nagpur', 'colore': 'Fair'}

18. Create a dictionary and clear all items using clear().

In [63]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
student.clear()
student

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [65]:
roll_num = {1:"ram",2:"sham",3:"mohan",4:"mahi"}
print(roll_num)

{1: 'ram', 2: 'sham', 3: 'mohan', 4: 'mahi'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [67]:
student = {'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}
student1 = student.copy()
student1

{'name': 'Disha', 'age': 24, 'city': 'Nagpur', 'colore': 'Fair'}